<div class="min-h-screen bg-gradient-to-br from-green-50 to-blue-100 p-10">

    <h2 class="text-2xl font-bold text-center mb-6 text-teal-900">
        Assigned Grooming Services
    </h2>

    <div class="flex justify-center">

        <table class="w-full max-w-3xl bg-white shadow rounded-2xl overflow-hidden">

            <!-- HEADER -->
            <thead class="bg-teal-600 text-white">
                <tr>
                    <th class="p-3">Service ID</th>
                    <th class="p-3">Name</th>
                   
                </tr>
            </thead>

            <!-- BODY -->
            <tbody *ngIf="services.length > 0; else noData">

                <tr *ngFor="let s of services" class="border-b hover:bg-teal-50">

                    <td class="p-3 text-center">{{ s.serviceId }}</td>
                    <td class="p-3 text-center">{{ s.name }}</td>

                    
                </tr>

            </tbody>

        </table>

    </div>

    <!-- NO DATA -->
    <ng-template #noData>
        <p class="text-center mt-6 text-gray-500 text-lg">
            No services assigned ❌
        </p>
    </ng-template>

</div>