.layout {
    display: flex;
    /* KEY LINE */
    height: 100vh;
}


.main-content {
    flex: 1;
    /* takes remaining space */
    padding: 20px;
    background-color: #f9f5e4;
    overflow-y: auto;
    /* scroll inside content */
}