.layout {
  display: flex;
  gap: 20px;
  border: 2px solid #ccc;
  padding: 15px;
  border-radius: 10px;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
  border-left: 2px solid #ddd;
  padding-left: 15px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.top-bar input {
  width: 70%;
  padding: 8px;
}

.top-bar button {
  padding: 8px 12px;
  background: green;
  color: white;
  border: none;
}

.right input {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 6px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}