<div class="p-6 max-w-md mx-auto bg-white shadow rounded">
  <h2 class="text-xl font-bold mb-4">
    {{ customerId ? 'Update Customer' : 'Add Customer' }}
  </h2>

  <form [formGroup]="form" class="space-y-2">
    <input formControlName="firstName" placeholder="First Name" class="border p-2 w-full mb-2">
    <p class="text-red-500 text-sm" *ngIf="form.get('firstName')?.touched && form.get('firstName')?.invalid">
      First name is required, at least 2 characters, and letters only
    </p>

    <input formControlName="lastName" placeholder="Last Name" class="border p-2 w-full mb-2">
    <p class="text-red-500 text-sm" *ngIf="form.get('lastName')?.touched && form.get('lastName')?.invalid">
      Last name is required, at least 2 characters, and letters only
    </p>

    <input formControlName="email" placeholder="Email" class="border p-2 w-full mb-2">
    <p class="text-red-500 text-sm" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
      Enter a valid email address
    </p>

    <input formControlName="phoneNumber" placeholder="Phone Number" class="border p-2 w-full mb-2">
    <p class="text-red-500 text-sm" *ngIf="form.get('phoneNumber')?.touched && form.get('phoneNumber')?.invalid">
      Phone number is required and must be a 10-digit number like 5555678001
    </p>

    <select formControlName="addressId" class="border p-2 w-full mb-2">
      <option [ngValue]="null">Select Address</option>
      <option *ngFor="let a of addresses" [ngValue]="a.addressId">
        {{ a.addressId }} - {{ a.street }}, {{ a.city }}
      </option>
    </select>
    <p class="text-red-500 text-sm" *ngIf="form.get('addressId')?.touched && form.get('addressId')?.invalid">
      Address ID is required and must be greater than 0
    </p>

    <button type="button" (click)="submitCustomer()" class="bg-green-500 text-white px-4 py-2 mt-3 rounded w-full">
      Submit
    </button>
  </form>
</div>
