<div class="p-6 max-w-md mx-auto bg-white shadow rounded">
  <h2 class="text-xl font-bold mb-4">
    {{ employeeId ? 'Update Employee' : 'Add Employee' }}
  </h2>

  <form [formGroup]="form" class="space-y-1">
    <input formControlName="firstName" placeholder="First Name" class="border p-2 w-full mb-1">
    <div *ngIf="form.get('firstName')?.touched && form.get('firstName')?.invalid" class="text-red-500 text-sm mb-2">
      First name is required and must be at least 2 characters
    </div>

    <input formControlName="lastName" placeholder="Last Name" class="border p-2 w-full mb-1">
    <div *ngIf="form.get('lastName')?.touched && form.get('lastName')?.invalid" class="text-red-500 text-sm mb-2">
      Last name is required and must be at least 2 characters
    </div>

    <input formControlName="position" placeholder="Position" class="border p-2 w-full mb-1">
    <div *ngIf="form.get('position')?.touched && form.get('position')?.invalid" class="text-red-500 text-sm mb-2">
      Position is required and must be at least 2 characters
    </div>

    <input formControlName="hireDate" type="date" class="border p-2 w-full mb-1">
    <div *ngIf="form.get('hireDate')?.touched && form.get('hireDate')?.invalid" class="text-red-500 text-sm mb-2">
      Hire date is required
    </div>

    <input formControlName="phoneNumber" placeholder="Phone Number" class="border p-2 w-full mb-1">
    <div *ngIf="form.get('phoneNumber')?.touched && form.get('phoneNumber')?.invalid" class="text-red-500 text-sm mb-2">
      Phone number is required and must be in 555-1234 format
    </div>

    <input formControlName="email" placeholder="Email" class="border p-2 w-full mb-1">
    <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="text-red-500 text-sm mb-2">
      Enter a valid email address
    </div>

    <select formControlName="addressId" class="border p-2 w-full mb-1">
      <option [ngValue]="null">Select Address</option>
      <option *ngFor="let a of addresses" [ngValue]="a.addressId">
        {{ a.addressId }} - {{ a.street }}, {{ a.city }}
      </option>
    </select>
    <div *ngIf="form.get('addressId')?.touched && form.get('addressId')?.invalid" class="text-red-500 text-sm mb-2">
      Address ID is required and must be greater than 0
    </div>

    <button type="button" (click)="submit()" class="bg-green-500 text-white px-4 py-2 mt-3 rounded w-full">
      Submit
    </button>
  </form>
</div>
