.form-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f8ff;
  font-family: Arial;
}

h2 {
  margin-bottom: 20px;
  color: #0066cc;
}

.form-box {
  width: 100%;
  max-width: 420px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* IMPORTANT FIX */
input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #3399ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1a8cff;
  transform: scale(1.03);
}