<div class="p-6 max-w-md mx-auto bg-white shadow rounded">
  <h2 class="text-xl font-bold mb-4">
    {{ addressId ? 'Update Address' : 'Add Address' }}
  </h2>

  <form [formGroup]="form" class="space-y-2">
    <input formControlName="street" placeholder="Street" class="border p-2 w-full rounded focus:outline-none focus:ring-2 focus:ring-blue-400">
    <p class="text-red-500 text-sm" *ngIf="form.get('street')?.touched && form.get('street')?.invalid">
      Street is required and must be at least 3 characters
    </p>

    <input formControlName="city" placeholder="City" class="border p-2 w-full rounded focus:outline-none focus:ring-2 focus:ring-blue-400">
    <p class="text-red-500 text-sm" *ngIf="form.get('city')?.touched && form.get('city')?.invalid">
      City is required and must be at least 2 characters
    </p>

    <input formControlName="state" placeholder="State" class="border p-2 w-full rounded focus:outline-none focus:ring-2 focus:ring-blue-400">
    <p class="text-red-500 text-sm" *ngIf="form.get('state')?.touched && form.get('state')?.invalid">
      State is required and must be at least 2 characters
    </p>

    <input formControlName="zipCode" placeholder="Zip Code" class="border p-2 w-full rounded focus:outline-none focus:ring-2 focus:ring-blue-400">
    <p class="text-red-500 text-sm" *ngIf="form.get('zipCode')?.touched && form.get('zipCode')?.invalid">
      Zip code is required and must be 5 or 6 digits
    </p>

    <button type="button" (click)="submit()" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 mt-3 rounded w-full shadow">
      Submit
    </button>
  </form>
</div>
