<div class=" scroll-box bg-teal-800 h-500 w-70 flex flex-col gap-5 p-10">
    <h1 class="text-3xl text-white font-extrabold pb-10">Happy Paws</h1>
    <a class="text-2xl text-gray-300 font" routerLink="#">Dashboard</a>
    <a class="text-2xl text-gray-300 font" routerLink="#">Pets</a>
    <a class="text-2xl text-gray-300 font" routerLink="#">Categories</a>
    <a class="text-2xl text-gray-300 font" routerLink="#">Customers</a>
    <a class="text-2xl text-gray-300 font" routerLink="#">Transactions</a>
    <a class="text-2xl text-gray-300 font" routerLink="#">Grooming Services</a>
    <a class="text-2xl text-gray-300 font" routerLink="#">Vaccinations</a>
    <a class="text-2xl text-gray-300 font" routerLink="#">Employees</a>
    <a class="text-2xl text-gray-300 font" routerLink="#">Inventory</a>
    <a class="text-2xl text-gray-300 font" routerLink="#">Assignments</a>


</div>