<!-- This template renders the page layout for pet employees list. -->
<div class="min-h-full w-full bg-gradient-to-br from-slate-900 via-slate-800 to-slate-900 p-10">

    <h2 class="text-2xl font-bold text-center mb-6 text-slate-100">
        Employees Assigned to Pet
    </h2>

    <div class="flex justify-center">

        <table class="w-full max-w-3xl bg-slate-800 rounded-2xl shadow overflow-hidden border border-slate-700">

            
            <thead class="bg-slate-700 text-cyan-400">
                <tr>
                    <th class="p-3">Employee ID</th>
                    <th class="p-3">First Name</th>
                    <th class="p-3">Position</th>
                </tr>
            </thead>

            
            <tbody *ngIf="employees.length > 0; else noData">

                <tr *ngFor="let e of paginated(employees)" class="border-b border-slate-700 hover:bg-slate-700">

                    <td class="p-3 text-center">{{ e.employeeId }}</td>
                    <td class="p-3 text-center">{{ e.firstName }}</td>
                    <td class="p-3 text-center">{{ e.position }}</td>

                </tr>

            </tbody>

        </table>

    </div>

    
    <ng-template #noData>
        <p class="text-center mt-6 text-slate-300 text-lg">
            No employees assigned ❌
        </p>
    </ng-template>

</div>
<app-pagination [totalItems]="employees.length" [pageSize]="pageSize" [currentPage]="currentPage" (pageChange)="onPageChange($event)"></app-pagination>






